body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1b0f18;
}

header {
  background-color: #1b0f18;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #eee;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  background-color: #c0f0c0;
}

.delete-button {
  background-color: #ff6666;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff3333;
}

/* Adicione um estilo para as categorias e tags */
.category, .tags {
  display: block;
  font-size: 0.8rem;
  color: #555;
}

.tags {
  margin-top: 0.5rem;
}
